body {
    background-color: #5b2386;
    position: relative;
}

.wrapper {
    max-width: 1920px;
    height: auto; /* 높이는 손볼것 */
}

/* 상단 부분 */
h1.tit-timelaw {
    position: relative;
    width: 100%;
    height: 320px;
}

h1 .main-img {
    width: 564px;
    height: 112px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    z-index: 1;
}

h1 img {
    position: absolute;
    width: 221.6px;
    height: 225px;
    left: 50%;
    transform: translateX(-50%);
    top: 47px;
}

/* 문구시작 */

.img-txt {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.img-quotes {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 454px;
}

.txt-desc {
    margin: 0 auto;
    padding-top: 110px;
    width: 373px;
    height: 85px;
    text-align: center;
    color: white;
    font-family: "GmarketSansMedium";
    line-height: 28px;
    font-size: 17px;
}

strong.tit-desc {
    font-size: 22px;
    font-family: "GmarketSansBold";
}

form.cont-inp {
    height: 400px;
    margin-top: 100px;
    text-align: center;
    font-family: "GmarketSansMedium";
    font-size: 22px;
    color: white;
    position: relative;
}

input {
    /* position: relative; */
    top: -5px;
    font-family: "GmarketSansMedium";
    font-size: 18px;
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
}

.btn-exc {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    width: 555px;
    height: 60px;
    background: #fcee21;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 56px;
    font-size: 21px;
    cursor: pointer;
    color: #5b2386;
    font-family: "GmarketSansMedium";
}

.click-btn {
    width: 45px;
    position: relative;
    bottom: -121px;
    right: -305px;
}
/* 결과 부분 시작 */

.blind {
    position: absolute;
    left: -9999px; /* 숨기기용 */
}

#result {
    text-align: center;
    height: 300px;
    font-family: "GmarketSansMedium";
    color: white;
    /* position: relative; */
}

#result .txt-wannabe {
    font-size: 22px;
    margin-bottom: 35px;
}

#result .txt-time {
    font-size: 22px;
}

#result strong {
    font-family: "GmarketSansBold";
    font-weight: bold;
    font-size: 60px;
    margin: 0 10px;
    position: relative;
     /* vertical-align: middle; */

    top: 12px;
}

#result .btn-go {
    width: 270px;
    height: 50px;
    font-family: "GmarketSansMedium";
    font-size: 18px;
    font-weight: 700;
    background: #fcee21;
    color: #5b2386;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 56px;
    margin: 0 10px;
    position: relative;
    top: 96px;
    cursor: pointer;
}

#result .btn-share {
    width: 150px;
    height: 45px;
    font-family: "GmarketSansMedium";
    font-size: 18px;
    font-weight: 700;
    background: white;
    color: #5b2386;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 56px;
    position: relative;
    top: 91px;
    cursor: pointer;
}
/* 하단부분 */

.cont-footer {
    box-sizing: border-box;
    height: 250px;
    text-align: center;
    padding-top: 100px;
}

.txt-footer {
    margin-top: 30px;
    color: white;
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}
/* 모달창 */
.cont-modal {
    /* visibility: hidden; */
   display: none;
    width: 800px;
    height: 800px;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* color: #5b2386;  부모에 텍스트 색을 주더라도 버튼은 상속되지 않나봄 user 스타일 시트에 따로 지정되어 있음을 확인 */
}

.cont-modal img {
    display: block;
    margin: 0 auto;
}

.cont-modal .fighting {
    margin-top: 80px;
}

.cont-modal .dream {
    margin-top: 40px;
    margin-bottom: 50px;
}
.cont-modal .lion{
    margin-bottom: 60px;
}
.cont-modal .btn-go {
    width: 508px;
    height: 66px;
    background: #fcee21;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 56px;
    color: #5b2386;
    font-family: "GmarketSansMedium";
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

/* 토글부분 */
.togle-btn{
    display: block;

}