.head-line{
    margin-top: 20px;
    text-align: center;
}

.menu{
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    border-bottom: 1px solid #000;
}

.img-size{
    max-width: 100%;
    max-height: 250px;
}

.each-article{
    border-bottom: 2px solid #000;
}