
.nav{
  height: 100vh;

}
.title{
  margin: 0;
  height: 100px;
  background-color: lightcoral;
}
ul{
  margin: 0;
  padding: 0;
  text-align: center;
}

ul li{
  list-style: none;
  margin: 0;
}

ul li span{
  margin: 30px;
}