.bg-img{
    background-image: url(https://image-cdn.hypb.st/https%3A%2F%2Fkr.hypebeast.com%2Ffiles%2F2021%2F09%2Fapple-ar-easter-egg-in-apple-special-event-invite-for-iphone-users-tw.jpg?w=960&cbr=1&q=90&fit=max);
    height: 300px;
    background-size: cover;
    background-position: center;

}