body{
    margin: 0;
}

section {
    background-color: dodgerblue;
    display:flex;
    height: 500px;
}

.one{
    background-color: Yellowgreen;
    width: 20%;
    flex-shrink: 0;
    /* flex-grow:1; */
    
}

.two{
    background-color: lightcoral;
    flex-grow:1;
}